commit-*

*~
*.class*
.project
.#*
.git
*#
*.rc

#os x stuff
*Thumbs.db*
*.DS_Store

test-output
build
doc
bin
target
*.jar

*.ipr
*.iml
*.iws
*.iml
.idea
atlassian-ide-plugin.xml

out/*
.gradle/*

docs/reference/public/*
