<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="appserver" >

  <test name="main tests">
    <classes>
      <class name="ed.util.SimplePoolTest"/>
      <class name="ed.io.ByteBufferStreamTest"/>

      <class name="ed.db.ByteTest" />
      <class name="ed.db.JavaClientTest" />
      <class name="ed.db.ReflectionTest" />
      <class name="ed.db.DBAddressTest" />

    </classes>
  </test>

</suite>

