<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="appserver" >

  <test name="main tests">
    <classes>
      <class name="com.mongodb.util.SimplePoolTest"/>
      <class name="com.mongodb.util.JSONTest"/>
      <class name="com.mongodb.io.ByteBufferStreamTest"/>

      <class name="com.mongodb.ByteTest" />
      <class name="com.mongodb.JavaClientTest" />
      <class name="com.mongodb.ReflectionTest" />
      <class name="com.mongodb.DBAddressTest" />
      <class name="com.mongodb.DBObjectTest" />
      <class name="com.mongodb.ObjectIdTest" />
      <class name="com.mongodb.DBRefTest" />

      <class name="com.mongodb.ErrorTest" />

    </classes>
  </test>

</suite>

