<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd">

<!--
Copyright 2011, 10gen

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at:

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<suite name="appserver" >

    <test name="main tests">
        <classes>
            <class name="com.mongodb.util.SimplePoolTest"/>
            <class name="com.mongodb.util.JSONTest"/>
            <class name="com.mongodb.io.ByteBufferStreamTest"/>
            <class name="org.bson.PoolOutputBufferTest"/>
            <class name="org.bson.BSONTest" />
            <class name="org.bson.io.BSONInputTest" />
            <class name="org.bson.util.ClassMapTest"/>
            <class name="org.bson.util.StringRangeSetTest"/>
            <class name="com.mongodb.ByteTest" />
            <class name="com.mongodb.BasicDBObjectTest" />
            <class name="com.mongodb.JavaClientTest" />
            <class name="com.mongodb.ReflectionTest" />
            <class name="com.mongodb.DBAddressTest" />
            <class name="com.mongodb.DBTest" />
            <class name="com.mongodb.DBTests" />
            <class name="com.mongodb.DBObjectTest" />
            <class name="com.mongodb.DBCollectionTest" />
            <class name="com.mongodb.ReplicaSetStatusTest" />
            <class name="com.mongodb.DBCursorTest" />
            <class name="com.mongodb.ObjectIdTest" />
            <class name="com.mongodb.DBRefTest" />
            <class name="com.mongodb.QueryBuilderTest" />
            <class name="com.mongodb.ErrorTest" />
            <class name="com.mongodb.ThreadingTest" />
            <class name="com.mongodb.MongoURITest" />
            <class name="com.mongodb.MongoOptionsTest" />
            <class name="com.mongodb.SecondaryReadTest" />
        </classes>
    </test>

</suite>
