<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="INFO"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%c-%p] %d [%t]| %m%n"/>
    </layout>
  </appender>

  <category name="org">
    <priority value="ERROR"/>
  </category>

  <category name="com">
    <priority value="ERROR"/>
  </category>  

  <category name="org.apache.ftpserver">
    <priority value="DEBUG"/>
  </category>

  <root>
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>
