<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.mongodb.driver.connection" level="TRACE" additivity="true"/>-->
    <!--<logger name="org.mongodb.driver.cluster" level="TRACE" additivity="true"/>-->
    <!--<logger name="org.mongodb.driver.protocol" level="TRACE" additivity="true"/>-->
    <!--<logger name="org.mongodb.driver.operation" level="TRACE" additivity="true"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
