*~
.#*
.git
*#

# os x stuff
*Thumbs.db*
*.DS_Store

# Build artifacts
build
out

# Eclipse files
.classpath
.project
.settings

# Intellij IDEA files
*.ipr
*.iws
*.iml
*.idea
workspace.xml
atlassian-ide-plugin.xml

# gradle
.gradle

# local settings
**/gradle.properties
local.properties

# jenv
.java-version

# bin
/bin
/benchmarks/bin
